@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

.block {
  display: block;
}

.todaq-app__header {
  margin: 2rem 0;
}

.todaq-charity {
    margin: 2rem 0;
    padding: 2rem;
}

.todaq-charity__wrapper {
  display: flex;
}

.todaq-charity__one-third {
  flex-grow: 1;
  padding: 1rem;
  margin-top: 284px;
  width: 33%;
}

.todaq-charity__two-thirds {
  flex-grow: 2;
}

.todaq-charity h1 {
  color: #cccccc;
  font-size: 3.5em;
  line-height: 3.5rem;
  margin-bottom: 0;
  font-family: 'Lexend', sans-serif;
}

.todaq-charity h1 .todaq-charity__topline {
  display: block;
}

.todaq-charity h1 .todaq-charity__topline > span:first-child {
  color: #000000;
}

.todaq-charity h1 .todaq-charity__topline > span:last-child {
  color: #df1b4f;
}

.todaq-charity h1 .todaq-charity__subline {
  display: block;
  text-align: right;
}

.todaq-charity h1 .todaq-charity__subline > span:last-child {
  margin-left: 32px;
}

.todaq-charity h2 {
  color: #595A5A;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0;
  font-family: 'Lexend', sans-serif;
}

.todaq-partners {
  display: none;
  background: #595a5a;
  margin: 2rem 0;
  margin-bottom: 0;
  padding: 2rem;
  color: white;
}

.todaq-partners__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.todaq-partners__grid-item {
    padding: 2rem;
    text-align: center;
}

.TODAQMicro__embed {
    background: #000;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    display: none; /* TODO: Remove this when finished using embed code */
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    padding-left: 16px;
    cursor: pointer;
}

.TODAQMicro__embed-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 1rem;
   width: 100%;
}

.TODAQMicro__cost {
  font-weight: bold;
}

.TODAQMicro__cost:before {
  content: '$';
    margin-right: 4px;
    display: inline-block;
}

.TODAQMicro__text {
color: #ccc;
    text-transform: uppercase;
}


.todaq-charity__modal-background, .modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.todaq-charity__modal-background {
  background: rgba(0,0,0,0.5);
}

.todaq-charity__modal {
  background: #ffffff;
  width: 400px;
  height: 430px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.todaq-charity__modal-wrapper {
  position: relative;
  margin-right: 64px;
  margin-left: 64px;
  margin-bottom: 100px;
}

.todaq-charity__modal-wrapper.hide:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%);
}

.todaq-charity__modal-fieldset {
  border: 0;
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  margin-top: 8px;
}

.todaq-charity__modal-fieldset div > div {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}

.todaq-charity__modal-fieldset div:first-child > div {
  margin-right: 16px;
}

.todaq-charity__modal-field {
  display: flex;
  flex-grow: 1;
}

.todaq-charity__modal-field input + input {
  margin-left: 32px;
}

.todaq-charity__modal-legend {
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
  padding: 0;
}

.todaq-charity__modal-input {
  border: 1px solid #ccc;
  padding: 24px 16px;
  width: 100%;
}

.todaq-charity__modal-input:focus {
  outline: 0;
}

.todaq-charity__modal-input:disabled {
  background: #eee;
}

.todaq-charity__modal-submit-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
}

.toda-charity__modal-submit {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #595A5A;
  color: #fff;
  border: 0;
  border-radius: 3px;
  margin-top: 16px;
}

.todaq-charity__tile {
  width: 480px;
  height: 262px;
  top: 150px;
  margin-left: 0;
  position: absolute;
  background: #DE1A4F;
  z-index: 100000;
  padding: 16px;
  display: flex;
}

.todaq-charity__tile div:first-child {
  color: white;
  padding: 16px;
  max-width: 50%;
}

.todaq-charity__tile div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 2;
}

.todaq-charity__tile h2 {
  color: white;
}

.todaq-charity__tile p {
  color: white;
}
